.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
  opacity: 0.9; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #252525; }
    .navbar .nav-item .nav-link:hover {
      color: #3292a6; }
  .navbar .nav-item:last-child {
    padding-right: 0px; }

#showcase {
  background: url("../img/mountains.jpg"); }
  #showcase .primary-overlay {
    background: rgba(50, 146, 156, 0.7); }

#subscribe {
  background: #252525; }

#authors img {
  margin: -60px; }

#authors .card:hover {
  color: #fff;
  background: #3292a6; }
  #authors .card:hover i {
    color: #fff; }

#authors i {
  font-size: 25px; }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 4rem; } }
